.cube-l {
  height: 510px;
  width: 510px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0) rotateX(0deg) rotateY(0);
  -moz-transform: translateZ(0) rotateX(0deg) rotateY(0);
  -ms-transform: translateZ(0) rotateX(0deg) rotateY(0);
  -o-transform: translateZ(0) rotateX(0deg) rotateY(0);
  transform: translateZ(0) rotateX(0deg) rotateY(0);
  -webkit-transform-origin: 50% 50% -255px;
  -moz-transform-origin: 50% 50% -255px;
  -ms-transform-origin: 50% 50% -255px;
  -o-transform-origin: 50% 50% -255px;
  transform-origin: 50% 50% -255px;
}
.cube-l li {
  width: 170px;
  height: 170px;
}
.cube-l .facet-b {
  width: 510px;
  height: 510px;
  position: absolute;
  background: #000;
  -webkit-filter: opacity(0.99999);
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
/* Chrome and Safari */
  -moz-backface-visibility: visible;
/* Firefox */
  -ms-backface-visibility: visible;
/* Internet Explorer */
}
.cube-l .facet-b.is-1 {
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(255px, 0px, 255px);
  -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(255px, 0px, 255px);
  -ms-transform: rotate3d(0, 1, 0, 90deg) translate3d(255px, 0px, 255px);
  -o-transform: rotate3d(0, 1, 0, 90deg) translate3d(255px, 0px, 255px);
  transform: rotate3d(0, 1, 0, 90deg) translate3d(255px, 0px, 255px);
}
.cube-l .facet-b.is-2 {
  -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -255px, 255px);
  -moz-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -255px, 255px);
  -ms-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -255px, 255px);
  -o-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -255px, 255px);
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -255px, 255px);
}
.cube-l .facet-b.is-3 {
  -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d(-255px, 0px, 255px);
  -moz-transform: rotate3d(0, 1, 0, -90deg) translate3d(-255px, 0px, 255px);
  -ms-transform: rotate3d(0, 1, 0, -90deg) translate3d(-255px, 0px, 255px);
  -o-transform: rotate3d(0, 1, 0, -90deg) translate3d(-255px, 0px, 255px);
  transform: rotate3d(0, 1, 0, -90deg) translate3d(-255px, 0px, 255px);
}
.cube-l .facet-b.is-4 {
  -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 255px, 255px);
  -moz-transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 255px, 255px);
  -ms-transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 255px, 255px);
  -o-transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 255px, 255px);
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 255px, 255px);
}
.cube-l .facet-b.is-5 {
  -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 510px);
  -moz-transform: rotateY(180deg) translate3d(0px, 0px, 510px);
  -ms-transform: rotateY(180deg) translate3d(0px, 0px, 510px);
  -o-transform: rotateY(180deg) translate3d(0px, 0px, 510px);
  transform: rotateY(180deg) translate3d(0px, 0px, 510px);
}
